# Produce compressed bitstreams to reduce uploading time
SYSCONFIG COMPRESS_CONFIG=ON;

LOCATE      COMP "clk_i"    SITE "P6";
IOBUF       PORT "clk_i"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_i"    25 MHZ;

LOCATE      COMP "txd"       SITE "B9";   // iCELink-UART3-RX
IOBUF       PORT "txd"       IO_TYPE=LVCMOS33;

LOCATE      COMP "rxd"       SITE "A9";
IOBUF       PORT "rxd"       IO_TYPE=LVCMOS33;

#iCESugar-pro HDMI
LOCATE COMP "gpdi_dp[0]" SITE "G1"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "F1"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "J1"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "H2"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "L1"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "K2"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "E2"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "D3"; # Clock -

IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "sdram_clk" SITE "R15";
IOBUF PORT "sdram_clk" PULLMODE=NONE;
IOBUF PORT "sdram_clk" DRIVE=4;
IOBUF PORT "sdram_clk" SLEWRATE=FAST;
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "H15";
IOBUF PORT "sdram_a[0]" PULLMODE=NONE;
IOBUF PORT "sdram_a[0]" DRIVE=4;
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[1]" SITE "B13";
IOBUF PORT "sdram_a[1]" PULLMODE=NONE;
IOBUF PORT "sdram_a[1]" DRIVE=4;
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[2]" SITE "B12";
IOBUF PORT "sdram_a[2]" PULLMODE=NONE;
IOBUF PORT "sdram_a[2]" DRIVE=4;
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[3]" SITE "J16";
IOBUF PORT "sdram_a[3]" PULLMODE=NONE;
IOBUF PORT "sdram_a[3]" DRIVE=4;
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[4]" SITE "J15";
IOBUF PORT "sdram_a[4]" PULLMODE=NONE;
IOBUF PORT "sdram_a[4]" DRIVE=4;
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[5]" SITE "R12";
IOBUF PORT "sdram_a[5]" PULLMODE=NONE;
IOBUF PORT "sdram_a[5]" DRIVE=4;
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[6]" SITE "K16";
IOBUF PORT "sdram_a[6]" PULLMODE=NONE;
IOBUF PORT "sdram_a[6]" DRIVE=4;
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[7]" SITE "R13";
IOBUF PORT "sdram_a[7]" PULLMODE=NONE;
IOBUF PORT "sdram_a[7]" DRIVE=4;
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[8]" SITE "T13";
IOBUF PORT "sdram_a[8]" PULLMODE=NONE;
IOBUF PORT "sdram_a[8]" DRIVE=4;
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[9]" SITE "K15";
IOBUF PORT "sdram_a[9]" PULLMODE=NONE;
IOBUF PORT "sdram_a[9]" DRIVE=4;
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[10]" SITE "A13";
IOBUF PORT "sdram_a[10]" PULLMODE=NONE;
IOBUF PORT "sdram_a[10]" DRIVE=4;
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[11]" SITE "R14";
IOBUF PORT "sdram_a[11]" PULLMODE=NONE;
IOBUF PORT "sdram_a[11]" DRIVE=4;
IOBUF PORT "sdram_a[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[12]" SITE "T14";
IOBUF PORT "sdram_a[12]" PULLMODE=NONE;
IOBUF PORT "sdram_a[12]" DRIVE=4;
IOBUF PORT "sdram_a[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[0]" SITE "F16";
IOBUF PORT "sdram_dq[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[0]" DRIVE=4;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[1]" SITE "E15";
IOBUF PORT "sdram_dq[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[1]" DRIVE=4;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[2]" SITE "F15";
IOBUF PORT "sdram_dq[2]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[2]" DRIVE=4;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[3]" SITE "D14";
IOBUF PORT "sdram_dq[3]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[3]" DRIVE=4;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[4]" SITE "E16";
IOBUF PORT "sdram_dq[4]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[4]" DRIVE=4;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[5]" SITE "C15";
IOBUF PORT "sdram_dq[5]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[5]" DRIVE=4;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[6]" SITE "D16";
IOBUF PORT "sdram_dq[6]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[6]" DRIVE=4;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[7]" SITE "B15";
IOBUF PORT "sdram_dq[7]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[7]" DRIVE=4;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[8]" SITE "R16";
IOBUF PORT "sdram_dq[8]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[8]" DRIVE=4;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[9]" SITE "P16";
IOBUF PORT "sdram_dq[9]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[9]" DRIVE=4;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[10]" SITE "P15";
IOBUF PORT "sdram_dq[10]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[10]" DRIVE=4;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[11]" SITE "N16";
IOBUF PORT "sdram_dq[11]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[11]" DRIVE=4;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[12]" SITE "N14";
IOBUF PORT "sdram_dq[12]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[12]" DRIVE=4;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[13]" SITE "M16";
IOBUF PORT "sdram_dq[13]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[13]" DRIVE=4;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[14]" SITE "M15";
IOBUF PORT "sdram_dq[14]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[14]" DRIVE=4;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[15]" SITE "L15";
IOBUF PORT "sdram_dq[15]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[15]" DRIVE=4;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_we_n" SITE "A15";
IOBUF PORT "sdram_we_n" PULLMODE=NONE;
IOBUF PORT "sdram_we_n" DRIVE=4;
IOBUF PORT "sdram_we_n" SLEWRATE=FAST;
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ras_n" SITE "B16";
IOBUF PORT "sdram_ras_n" PULLMODE=NONE;
IOBUF PORT "sdram_ras_n" DRIVE=4;
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST;
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cas_n" SITE "G16";
IOBUF PORT "sdram_cas_n" PULLMODE=NONE;
IOBUF PORT "sdram_cas_n" DRIVE=4;
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST;
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cs_n" SITE "A14";
IOBUF PORT "sdram_cs_n" PULLMODE=NONE;
IOBUF PORT "sdram_cs_n" DRIVE=4;
IOBUF PORT "sdram_cs_n" SLEWRATE=FAST;
IOBUF PORT "sdram_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cke" SITE "L16";
IOBUF PORT "sdram_cke" PULLMODE=NONE;
IOBUF PORT "sdram_cke" DRIVE=4;
IOBUF PORT "sdram_cke" SLEWRATE=FAST;
IOBUF PORT "sdram_cke" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[0]" SITE "G15";
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[0]" DRIVE=4;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[1]" SITE "B14";
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[1]" DRIVE=4;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dm[0]" SITE "C16";
IOBUF PORT "sdram_dm[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dm[0]" DRIVE=4;
IOBUF PORT "sdram_dm[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dm[1]" SITE "T15";
IOBUF PORT "sdram_dm[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dm[1]" DRIVE=4;
IOBUF PORT "sdram_dm[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led_red" SITE "B11"; # PT49A
IOBUF PORT "led_red" IO_TYPE=LVCMOS33;
LOCATE COMP "led_green" SITE "A11"; # PT53A
IOBUF PORT "led_green" IO_TYPE=LVCMOS33;
LOCATE COMP "led_blue" SITE "A12"; # PT53B
IOBUF PORT "led_blue" IO_TYPE=LVCMOS33;

LOCATE COMP "spisdcard_clk" SITE "J12";
IOBUF PORT "spisdcard_clk" SLEWRATE=FAST;
IOBUF PORT "spisdcard_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_mosi" SITE "H12";
IOBUF PORT "spisdcard_mosi" SLEWRATE=FAST;
IOBUF PORT "spisdcard_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spisdcard_mosi" PULLMODE=UP;
LOCATE COMP "spisdcard_cs_n" SITE "G12";
IOBUF PORT "spisdcard_cs_n" SLEWRATE=FAST;
IOBUF PORT "spisdcard_cs_n" IO_TYPE=LVCMOS33;
IOBUF PORT "spisdcard_cs_n" PULLMODE=UP;
LOCATE COMP "spisdcard_miso" SITE "K12";
IOBUF PORT "spisdcard_miso" SLEWRATE=FAST;
IOBUF PORT "spisdcard_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "spisdcard_miso" PULLMODE=UP;

# PMOD-compatible headers on the breakout board can take a pair of 12-pin PMODS
# with four spare pins (and +5v) between them, # so we define them as separate ports,
# HIGH, MID and LOW.  Use HIGH and LOW for PMODs.
# Note, P1 isn't connected except for power, and P4 has two pins missing from the LOW port.

# PMODs on P2 - high (8 pins), mid (4 pins) and low (8 pins)
LOCATE COMP "P2_pmod_high[0]" SITE "E1";
LOCATE COMP "P2_pmod_high[1]" SITE "C2";
LOCATE COMP "P2_pmod_high[2]" SITE "B2";
LOCATE COMP "P2_pmod_high[3]" SITE "A2";
LOCATE COMP "P2_pmod_high[4]" SITE "F2";
LOCATE COMP "P2_pmod_high[5]" SITE "D1";
LOCATE COMP "P2_pmod_high[6]" SITE "C1";
LOCATE COMP "P2_pmod_high[7]" SITE "B1";
LOCATE COMP "P2_gpio[0]" SITE "A3";
LOCATE COMP "P2_gpio[1]" SITE "A4";
LOCATE COMP "P2_gpio[2]" SITE "B3";
LOCATE COMP "P2_gpio[3]" SITE "B4";
LOCATE COMP "P2_pmod_low[0]" SITE "A5";
LOCATE COMP "P2_pmod_low[1]" SITE "A6";
LOCATE COMP "P2_pmod_low[2]" SITE "A7";
LOCATE COMP "P2_pmod_low[3]" SITE "A8";
LOCATE COMP "P2_pmod_low[4]" SITE "B5";
LOCATE COMP "P2_pmod_low[5]" SITE "B6";
LOCATE COMP "P2_pmod_low[6]" SITE "B7";
LOCATE COMP "P2_pmod_low[7]" SITE "B8";
IOBUFPORT "P2_pmod_high[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_high[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_gpio[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_gpio[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_gpio[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_gpio[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P2_pmod_low[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;


# PMODs on P3 - high (8 pins), mid (4 pins) and low (8 pins)
LOCATE COMP "P3_pmod_high[0]" SITE "T6";
LOCATE COMP "P3_pmod_high[1]" SITE "R5";
LOCATE COMP "P3_pmod_high[2]" SITE "R4";
LOCATE COMP "P3_pmod_high[3]" SITE "R3";
LOCATE COMP "P3_pmod_high[4]" SITE "P7";
LOCATE COMP "P3_pmod_high[5]" SITE "R6";
LOCATE COMP "P3_pmod_high[6]" SITE "T4";
LOCATE COMP "P3_pmod_high[7]" SITE "T3";
LOCATE COMP "P3_gpio[0]" SITE "R2";
LOCATE COMP "P3_gpio[1]" SITE "P2";
LOCATE COMP "P3_gpio[2]" SITE "T2";
LOCATE COMP "P3_gpio[3]" SITE "R1";
LOCATE COMP "P3_pmod_low[0]" SITE "N3";
LOCATE COMP "P3_pmod_low[1]" SITE "M2";
LOCATE COMP "P3_pmod_low[2]" SITE "L2";
LOCATE COMP "P3_pmod_low[3]" SITE "G2";
LOCATE COMP "P3_pmod_low[4]" SITE "P1";
LOCATE COMP "P3_pmod_low[5]" SITE "N1";
LOCATE COMP "P3_pmod_low[6]" SITE "M1";
LOCATE COMP "P3_pmod_low[7]" SITE "K1";
IOBUFPORT "P3_pmod_high[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_high[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_gpio[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_gpio[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_gpio[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_gpio[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P3_pmod_low[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;


# PMODs on P4 - high (8 pins), mid (4 pins) and gpio2 (6 pins, since the lowest two are unconnected)
LOCATE COMP "P4_pmod_low[0]" SITE "R7";
LOCATE COMP "P4_pmod_low[1]" SITE "D5";
LOCATE COMP "P4_pmod_low[2]" SITE "D4";
LOCATE COMP "P4_pmod_low[3]" SITE "E4";
LOCATE COMP "P4_pmod_low[4]" SITE "R8";
LOCATE COMP "P4_pmod_low[5]" SITE "C4";
LOCATE COMP "P4_pmod_low[6]" SITE "C3";
LOCATE COMP "P4_pmod_low[7]" SITE "E3";
LOCATE COMP "P4_gpio[0]" SITE "F4";
LOCATE COMP "P4_gpio[1]" SITE "G4";
LOCATE COMP "P4_gpio[2]" SITE "F3";
LOCATE COMP "P4_gpio[3]" SITE "G3";
LOCATE COMP "P4_gpio2[0]" SITE "K4";
LOCATE COMP "P4_gpio2[1]" SITE "H3";
LOCATE COMP "P4_gpio2[2]" SITE "K3";
LOCATE COMP "P4_gpio2[3]" SITE "J4";
LOCATE COMP "P4_gpio2[4]" SITE "J3";
LOCATE COMP "P4_gpio2[5]" SITE "J2";
IOBUFPORT "P4_pmod_low[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_pmod_low[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio2[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio2[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio2[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio2[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio2[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P4_gpio2[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;


# PMODs on P5 - high (8 pins), mid (4 pins) and low (8 pins)
LOCATE COMP "P5_pmod_high[0]" SITE "E14";
LOCATE COMP "P5_pmod_high[1]" SITE "E12";
LOCATE COMP "P5_pmod_high[2]" SITE "D13";
LOCATE COMP "P5_pmod_high[3]" SITE "D12";
LOCATE COMP "P5_pmod_high[4]" SITE "E13";
LOCATE COMP "P5_pmod_high[5]" SITE "C13";
LOCATE COMP "P5_pmod_high[6]" SITE "C12";
LOCATE COMP "P5_pmod_high[7]" SITE "C11";
LOCATE COMP "P5_gpio[0]" SITE "D11";
LOCATE COMP "P5_gpio[1]" SITE "D10";
LOCATE COMP "P5_gpio[2]" SITE "C10";
LOCATE COMP "P5_gpio[3]" SITE "C9";
LOCATE COMP "P5_pmod_low[0]" SITE "D9";
LOCATE COMP "P5_pmod_low[1]" SITE "D8";
LOCATE COMP "P5_pmod_low[2]" SITE "D7";
LOCATE COMP "P5_pmod_low[3]" SITE "D6";
LOCATE COMP "P5_pmod_low[4]" SITE "C8";
LOCATE COMP "P5_pmod_low[5]" SITE "C7";
LOCATE COMP "P5_pmod_low[6]" SITE "C6";
LOCATE COMP "P5_pmod_low[7]" SITE "C5";
IOBUFPORT "P5_pmod_high[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_high[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_gpio[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_gpio[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_gpio[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_gpio[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P5_pmod_low[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;


# PMODs on P5 - high (8 pins), mid (4 pins) and low (8 pins)
LOCATE COMP "P6_pmod_high[0]" SITE "P11";
LOCATE COMP "P6_pmod_high[1]" SITE "N12";
LOCATE COMP "P6_pmod_high[2]" SITE "N13";
LOCATE COMP "P6_pmod_high[3]" SITE "M12";
LOCATE COMP "P6_pmod_high[4]" SITE "P12";
LOCATE COMP "P6_pmod_high[5]" SITE "P13";
LOCATE COMP "P6_pmod_high[6]" SITE "P14";
LOCATE COMP "P6_pmod_high[7]" SITE "M13";
LOCATE COMP "P6_gpio[0]" SITE "L14";
LOCATE COMP "P6_gpio[1]" SITE "K14";
LOCATE COMP "P6_gpio[2]" SITE "L13";
LOCATE COMP "P6_gpio[3]" SITE "K13";
LOCATE COMP "P6_pmod_low[0]" SITE "J14";
LOCATE COMP "P6_pmod_low[1]" SITE "H14";
LOCATE COMP "P6_pmod_low[2]" SITE "G14";
LOCATE COMP "P6_pmod_low[3]" SITE "F14";
LOCATE COMP "P6_pmod_low[4]" SITE "J13";
LOCATE COMP "P6_pmod_low[5]" SITE "H13";
LOCATE COMP "P6_pmod_low[6]" SITE "G13";
LOCATE COMP "P6_pmod_low[7]" SITE "F13";
IOBUFPORT "P6_pmod_high[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_high[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_gpio[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_gpio[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_gpio[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_gpio[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[7]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[6]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[5]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[4]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[3]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[2]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[1]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;
IOBUFPORT "P6_pmod_low[0]" SLEWRATE=FAST DRIVE=4 IOTYPE=LVCMOS33 PULLMODE=NONE;


